* {
    top: 0;
    left: 0;
    margin: 0;
}


/* reuseable */

.flex {
    display: flex;
}

.flex-left {
    justify-content: start;
}

.flex-space {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


/* particularly used */

.header-grid {
    top: 0;
    left: 0;
}

.navbar {
    background-color: black;
    width: 100%;
    padding: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    padding: 1rem;
    margin-right: 10rem;
}

.nav-items {
    margin-left: 3rem;
}

.Brand-logo {
    width: 150px;
    height: 50px;
}

.background {
    background-image: url('./img.jpg');
    background-position-y: 80%;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    top: 0;
    left: 0;
    position: relative;
    background-color: black;
    opacity: .7;
    height: 500px;
    width: 100%;
    color: white;
    z-index: 1;
}

.Landing-content {
    opacity: 1;
    position: relative;
    z-index: 2;
    align-items: center;
}

.landing-heading {
    margin-top: 10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
    text-align: center;
}

.landing-button {
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding: .5rem;
    padding-top: 1rem;
    color: white;
    margin: 2rem;
    border: solid 1px white;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.landing-text {
    margin: 2rem;
}

.container {
    color: white;
    border-top: solid 1px white;
}

.main-content-headings {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    text-decoration: underline;
}

.Grid {
    margin-top: 3rem;
    color: black;
}

.img {
    height: 200px;
    width: 200px;
}

.card-image {
    height: auto;
    width: auto;
}

.card {
    color: black;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 1rem;
}

.card-title {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left-grid {
    width: 50%;
    align-items: center;
    padding: 1rem;
}

.right-grid {
    width: 50%;
    align-items: center;
    padding: 2rem;
    border: 1px solid;
}

.grid-heading {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
}

.content {
    padding: 1em;
}

.small-heading {
    margin: 1em;
    font-size: large;
    text-align: center;
}

.img-grid {
    height: auto;
}

.small-images {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.small-images2 {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.footer {
    height: 4rem;
    margin-top: 2rem;
    background-color: black;
}

.footer-text {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-block {
    height: 50px;
    width: 50px;
}

.small-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2em;
}

.text-pill {
    background-color: grey;
    border-radius: 20px;
    width: 5em;
    height: 2em;
    margin-top: 1em;
}


/* hover */

.nav-items:hover {
    text-decoration: underline solid;
    font-size: large;
}

.landing-button:hover {
    width: 12rem;
    background-color: white;
    color: black;
    animation-delay: 5ms;
}